body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.show {
    opacity: 1;
}

.modal {
    transform: translate3d(0, 0, 0);
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-backdrop.in {
    opacity: 0.5;
}
