.panel-button {
    /*max-width: 300px;*/
    /*min-width: 250px;*/
    /*display: inline-block;*/
    /*margin: 21px;*/
    margin: 0.25em;
    border: solid medium #eaefea;
}

.panel-button-full-width {
    width: 100%;
}

.panel-button:hover {
    border-color: skyblue;
    color: teal;
}

.panel-button-body {
    min-height: 200px;
}

.panel-button img {
    max-height: 150px;
}

.panel-button-footer {
    min-height: 3em;
    display: block !important;
    width: auto !important;
}
